*{
    background-color: rgb(251, 253, 248);
    color: rgb(250, 187, 13);
}
fieldset{
    padding: 50px;

}

button{
    color: black;
}

body{
    padding: 50px;
    width: 80px;
    height: 80px;
    text-align: center;
}