*{
    color: rgb(255, 16, 16);
}

body{
    padding: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background: url(../R.jpg);
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
flex-direction: column;

}

button{
    color: rgb(248, 2, 2);
}

.primer{
    padding: 20px;
}
