body {
    color: rgb(255, 8, 0);
    text-align: center;
    padding: 30px;
    background: url(/R.jpg);
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}